* { box-sizing: border-box;}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;

    font: 13px 'Manrope' , sans-serif;
    background-color: hsl(210, 46%, 95%);
}

main {
    display: grid;
    grid-template: .1fr 1fr .1fr / .1fr 1fr .1fr;
    min-height: 100%;

    place-items: center;
}

article {
    width: 100%;
    height: min-content;
    background-color: white;
    grid-area: 2/2 / 3/3;

    border-radius: 10px;

    display: grid;
    grid-template: min-content min-content / 1fr;
}

article > section > p {
    margin-bottom: 7%;
}

img[src*='drawers.jpg'] { 
    width: inherit; 
    border-radius: 3% 3% 0 0;
}

header > h2 {
    font-size: larger;
    margin: 0;
    letter-spacing: 1px;
}

.share_Wraper {
    display: flex;
    border-radius: 0 0 7px 7px;
}

.author {
    display: flex;
    justify-content: space-between;
}

.author > img{
    align-self: center;
    width: 15%;
    border-radius: 50%;
}

.author > p {
    margin: 0 20% 0 0;
    align-self: center;
}

.share_Icons {
    display: flex;
    place-content: start;
    width: 100%;
    gap: 7%;
}

.share_Icons > p {
    color: hsl(212, 23%, 69%);
    letter-spacing: 4px;
    padding-right: 2%;
}

.share {
    align-self: center;
    background-color: hsl(210, 46%, 95%);
    padding: 3%;
    border-radius: 50%;
    cursor: pointer;
    margin: 5% 0;
}

.attribution {
    grid-area: 3/1 / 4/4;
    align-self: end;
}

.img_Wrap { 
    overflow: hidden;
    width: 100%;
    height: 82%;
}

.padding { padding: 0 8% }
.justify { text-align: justify;}
.bold { font-weight: bold;}
.align_Center { align-self: center;}
.off { display: none; }

.dark_Grey {color:hsl(217, 19%, 35%)}
.dark_Grey_Bg { background-color: hsl(217, 19%, 35%)}

.desaturated_Grey {color: hsl(214, 17%, 51%)}
.desaturated_Grey_Bg { background-color: hsl(214, 17%, 51%);}

.light_Grey {color: hsl(212, 23%, 69%)}



@media screen and (min-width: 376px) {

    main {
        grid-template: repeat(3,1fr) / repeat(4,1fr);
        height: 100vh;
    }

    article {
        grid-template: 1fr / .7fr 7em 1fr;
        height: min-content;
        grid-area: 2/2 / 3/4;
    }

   .img_Wrap{
        grid-area: 1/1 / 2/3;
        height: 100%;
        width: 85%;
        position: relative;
    }

    .img_Wrap > img {
        border-radius: 10px 0 0 10px;
        height: 100%;
        width: 124%;
        position: absolute;
    }

    .author {
        place-content: start;
    }
    .author > p {
        padding: 0 20% 0 5%;
        margin: 0;
    }


    .share {
        padding: 2%;
        margin: 2% 5% 0 0;
    }

    .share_Wraper { 
        place-content: space-between;
        position: relative;
    }

    .share_Icons { 
        position: absolute;
        bottom: 5em;
        right: -4rem;
        place-content: center;
        width: 50%;
        padding: .4em 0;
        border-radius: 10px;
        cursor: pointer;
        border-color: hsl(217, 19%, 35%);
    }

    .share_Icons::after {
        content: "";
        position: absolute;
        top: 100%;
        /* left: 20px; */ 
        border-top: 12px solid black;
        border-top-color: black;
        border-top-color: inherit;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
    }

    .desktop_Wrap { grid-area: 1/2 / 2/4; }
    .desktop_Wrap > header { margin: 2em 0 0 0;}
    .desktop_Wrap > header > h2 {font-size: 1.6em;}
    .desktop_Wrap > section { margin: 1.5em 0 0 0;}
    .padding { padding: 0 4em 0 5.8em; }
    footer { margin: 0 0 2em 0}
}